<div>
  <mat-paginator
    color="primary"
    [length]="count"
    [pageSizeOptions]="[10, 25, 50, 75, 100]"
    (page)="getPaginatorData($event)"
  >
  </mat-paginator>
  <div
    *ngIf="loading"
    fxLayout="row"
    fxLayoutAlign="center center"
    style="height: 85vh"
  >
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="!loading" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="95%" fxFlex.sm="33%" *ngFor="let a of animes">
      <app-card [anime]="a"></app-card>
    </div>
  </div>
</div>
