<div class="menu" fxLayoutAlign="flex-end center" fxHide.xs>
  <form fxFlex="60%" [formGroup]="group" fxLayoutAlign="space-around center" (ngSubmit)="buscar()">
    <div fxFlex.lg="80%" fxLayoutAlign="flex-end">
      <mat-form-field  color="primary">
        <mat-label>Titulo</mat-label>
        <input type="text" matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field  color="primary">
        <mat-label>Géneros</mat-label>
        <mat-select formControlName="generos" multiple>
          <mat-option *ngFor="let genero of generos" [value]="genero">
            {{ genero }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
   
    <button mat-mini-fab color="accent">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div fxFlex="40%">
    <mat-paginator
      color="accent"
      [length]="count"
      [pageSizeOptions]="[10, 25, 50, 75, 100]"
      (page)="getPaginatorData($event)"
    >
    </mat-paginator>
  </div>
</div>
<div class="menu" style="height: 7vh;" fxLayoutAlign="center center" fxHide fxHide.xs="false">
  <mat-icon>theaters </mat-icon> <h1> Animes</h1>
</div>

<div class="container">
  <div
    *ngIf="loading"
    fxLayout="row"
    fxLayoutAlign="center center"
    style="height: 85vh"
  >
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
  <div
    *ngIf="!loading"
    fxLayout="row wrap"
    fxLayoutAlign="center"

  >
    <div fxFlex="24%" fxFlex.sm="48%" fxFlex.xs="95%" *ngFor="let a of animes">
      <app-card [anime]="a"></app-card>
    </div>
  </div>
</div>
