<div class="menu" fxLayoutAlign="flex-end center" fxHide.xs>
  <form
    fxFlex="70%"
    [formGroup]="group"
    fxLayoutAlign="space-around center"
    (ngSubmit)="buscar()"
  >
    <div fxFlex.lg="80%" fxLayoutAlign="flex-start center">
      <mat-form-field color="accent">
        <mat-label>Titulo</mat-label>
        <input type="text" matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Géneros</mat-label>
        <mat-select formControlName="generos" multiple>
          <mat-option *ngFor="let genero of generos" [value]="genero">
            {{ genero }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" multiple>
          <mat-option *ngFor="let sta of status; let i = index" [value]="i">
            {{ sta }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Ordenar por:</mat-label>
        <mat-select formControlName="sort_fields" multiple>
          <mat-option *ngFor="let sf of sortFields" [value]="sf.value">
            {{ sf.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-checkbox formControlName="sort_direction">
          lista invertida
        </mat-checkbox>
      </div>
    </div>
    <button mat-mini-fab color="accent">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div fxFlex="30%">
    <mat-paginator
      color="accent"
      [length]="count"
      [pageSizeOptions]="[10, 25, 50, 75, 100]"
      (page)="getPaginatorData($event)"
    >
    </mat-paginator>
  </div>
</div>
<div
  class="menu"
  style="height: 7vh"
  fxLayoutAlign="center center"
  fxHide
  fxHide.xs="false"
>
  <mat-icon color="primary">subscriptions</mat-icon>
  <h1>Animes</h1>
</div>
<div id="container">
  <div
    *ngIf="loading"
    fxLayout="row"
    fxLayoutAlign="center center"
    style="height: 85vh"
  >
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="!loading" fxLayout="row wrap" fxLayoutAlign="center">
    <div
      id="anime"
      fxFlex="25%"
      fxFlex.sm="50%"
      fxFlex.xs="100%"
      matRipple
      matRippleColor="primary"
      *ngFor="let a of animes"
    >
      <app-card [anime]="a"></app-card>
    </div>
  </div>
</div>
