
body 
  background-color: #f5f7fa

.fas.fa-heart:hover 
  color: #f44336 !important

.fas.fa-share-alt:hover 
  color: #0d47a1 !important

  mat-toolbar 
    justify-content: space-between

.content 
  padding: 16px

.content > mat-card 
  margin-bottom: 16px

.mat-card-image 
  background-size: cover

.cardA:hover
  background-color: rgb(62, 62, 62)
  color: white
  cursor: pointer
  transform: scale(1.05)
  transition: all 0.7s ease
  .titulo
    color: #F5F547

.titulo 
  font-size: medium
  margin: auto
  text-align: center
  color: red
  font-weight: bold

.cardA
  border: 1px solid #54FA3E
  margin-bottom: 2rem

.imagen
  max-width: 50%
  max-height: 50%
  object-fit: cover
  position: relative

.mat-form-field + .mat-form-field 
  margin-left: 10px

.text-oneline 
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
