@import '../../../styles.sass'
.menu
    height: 10vh
    border: solid 5px map-get($my-palette-accent, 500)
    border-radius: 10px
    margin-bottom: 1vh
.mat-form-field
    margin-left: 10px
.mat-paginator
    justify-content: flex-end
    height: 8vh
.container
    background-color: map-get($my-palette-dark, 700)
#anime
    padding: 10px