@import '../../../styles.sass'
.menu
    margin-top: 1vh
    height: 8vh
.mat-form-field
    margin-left: 10px
.mat-paginator
    display: flex
    justify-content: flex-end
    background-color: transparent
    margin-top: 2px
    height: 8vh
.container
    background-color: map-get($my-palette-secondary, 700)