@import '../../../styles.sass'
.mat-card
  border: groove 1rem map-get($my-palette-accent, 500)
  border-radius: 2rem
  height: 55vh

.mat-card:hover
  background-color: map-get($my-palette-dark, 500)
  color: white
  cursor: pointer
  transform: scale(1.05)
  transition: all 0.7s ease
  
.mat-card-title
  text-align: center
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.mat-card img
  object-fit: cover
  height: 60%
.mat-card-content
  height: 33%
.mat-card-content div
  height: 80%
  overflow: auto
.start-rating
  width: 25%
  justify-content: flex-start
  white-space: nowrap

.mat-card-content p
  width: 70%
  // text-overflow: ellipsis
  overflow: auto
  white-space: nowrap