@import '../../../styles.sass'
.mat-card
  border: groove 1rem map-get($my-palette-secondary, 200)
  border-radius: 2rem
  margin-bottom: 2rem
  margin-top: 1rem

.mat-card:hover
  background-color: map-get($my-palette-dark, 500)
  color: white
  cursor: pointer
  transform: scale(1.05)
  transition: all 0.7s ease
  
.mat-card-title
  text-align: center
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.mat-card img
  object-fit: cover
  height: 300px

.mat-card-content 
  height: 120px
  overflow: auto
  

